### Operating Systems ###
## macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## GNU/Linux and other Unix-like systems
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### IDEs ###
# VSCode
!.vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
# !.vscode/tasks.json

### Developer Tools ###
## Lychee - A fast, async, stream-based link checker written in Rust.
# Cache files
.lycheecache
